$color: rgb(114, 189, 0);

body#home {
  background-image: url('../assets/bg.png');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Permanent Marker', cursive;
}

#login {
  display: inline-block;
  vertical-align: middle;
}

#login button {
  width: 350px;
  border: none;
  padding: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-radius: 40px;
  background-color: #FFA400;
  font-family: 'Coming Soon';
}

#icon {
  display: inline-block;
  background-image: url('../assets/spotify-icon.png');
  background-size: contain;
  height: 50px;
  vertical-align: middle;
  width: 50px;
  margin-left: 5px;
}

#title {
  width: 60%;
  display: inline-block;
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
}

.artist-image {
  max-height: 100%;
  max-width: 25%;
}

.track {
  width: 500px;
  height: 175px;
  vertical-align: middle;
  display: inline-block;
  background-color: $color;
  border: 4px outset $color;
  margin: 5px;
  font-family: 'Coming Soon';
  p { margin: 1px }
}

.track-info {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}

#form {
  p { display: inline-block }
}

#playlist {
  display: inline-block;
  position: fixed;
  width: 20%;
  vertical-align: top;
  table tbody tr:nth-child(2n) { background-color: gray }
}

#tracks {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  float: right;
}

.no-events {
  #playlist, #tracks { display: none }
  #event-form {
    .header { margin-bottom: 10px }
    h1 { 
      text-align: center;
      font-size: 45px;
      margin: 0;
    }
    width: 50%;
    height: 420px;
    margin: auto;
    margin-top: 100px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: rgba(14,36,62,0.7);
    input, button {
      display: block;
      font-size: 3em;
      margin: 10px auto;
      text-align: center;
      font-family: 'Coming Soon';
    }
    button {
      font-family: 'Permanent Marker';
      border: none;
      width: 300px;
      padding: 7px;
      border-radius: 40px;
      background-color: #FFA400;
    }
  }
}
