$color: rgb(114, 189, 0);

#logged-in {
  display: none;
}

.artist-image {
  max-height: 100%;
  max-width: 25%;
}

.track {
  width: 500px;
  height: 150px;
  vertical-align: middle;
  display: inline-block;
  background-color: $color;
  border: 4px outset $color;
  margin: 5px;
  p { margin: 1px }
}

.track-info {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}

#form {
  p { display: inline-block }
}

#playlist {
  display: inline-block;
  position: fixed;
  width: 20%;
  vertical-align: top;
  table tbody tr:nth-child(2n) { background-color: gray }
}

#tracks {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  float: right;
}