doctype html
html(ng-app='getLOUD')
  meta(charset='utf-8')
  title getLOUD
link(href='http://fonts.googleapis.com/css?family=Permanent+Marker|Open+Sans' rel='stylesheet' type='text/css')  
link(rel="stylesheet" type="text/css" href="/assets/font-awesome-4.2.0/css/font-awesome.min.css")
link(href='css/style.css', rel='stylesheet')
body#home(ng-controller='viewCtrl as view')
  #logged-out(ng-hide='view.loggedIn()')
    h1#title Get Loud!
    #login
      a(href='/login')
        button Log In With Spotify
          #icon


  div#logged-in(ng-show='view.loggedIn()' ng-class='view.display()')
    #events(ng-controller='dataCtrl as data')
      #event-form
        .header
          h1 Find Artists
          h1 With Upcoming Concerts
        input(ng-model='city')
        input(ng-model='state')
        button(ng-click='getConcerts()') Get Songs

      #search
        //- span Search:
        //- input(ng-model='query')

      #playlist
        h2 Playlist
        button(ng-click='createPlaylist()') Create Playlist
        table
          thead
            tr
              td Artist
              td Name
          tbody  
            tr(ng-repeat='track in playlist')
              td {{track.artist}}
              td {{track.name}}

      #tracks
        //- .track(ng-repeat='track in list | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage' ng-hide='track.addedToPlaylist')
        .track(ng-repeat='track in tracks' ng-hide='track.addedToPlaylist')
          img.artist-image(ng-src='{{track.artistImage}}')
          .track-info
            p.artist {{track.artist}}
            p
              i.fa.fa-calendar &nbsp {{ track.event.date | date:'medium'}}
            p @ {{track.event.venue}}
            a(ng-href='{{track.event.ticket}}') Get Tickets
            #links
              button(ng-click='track.songPreview.paused ? track.songPreview.play() : track.songPreview.pause()') Play
              button(ng-click='addToPlaylist(track)') Add
        //- button(ng-click="pagination.prevPage()") Previous
        //- button(ng-click="pagination.nextPage()") Next
  #success

script(src='js/vendor/angular/angular.min.js')
script(src='js/vendor/angular-audio/app/angular.audio.js')
script(src='js/vendor/underscore/underscore-min.js')
script(src='js/vendor/jquery/dist/jquery.min.js')
//- script(src='vendor/pagination.js')  
//- script(src='js/index.js')
script(src='js/app.js')
