doctype html
html(ng-app='getLOUD')
  meta(charset='utf-8')
  title getLOUD
  link(href='css/style.css', rel='stylesheet')
body
  div(ng-controller='musicCtrl')
    h1 {{title}}

script(src='vendor/angular/angular.min.js')
script(src='vendor/angular-route/angular-route.min.js')  
script(src='js/app.js')