doctype html
html(ng-app='getLOUD')
  meta(charset='utf-8')
  title getLOUD
  //- link(href='css/foundation.css', rel='stylesheet')
  link(href='css/style.css', rel='stylesheet')
body
  #logged-out
    a(href='/login')
      h1 Log In With Spotify


  div#logged-in(ng-controller='dataCtrl as data')
    h1#name
    #form
      input(ng-model='city')
      input(ng-model='state')
      button(ng-click='getConcerts()') Get Events

    #search
      //- span Search:
      //- input(ng-model='query')

    #playlist
      h2 Playlist
      button(ng-click='createPlaylist()') Create Playlist
      table
        thead
          tr
            td Artist
            td Name
        tbody  
          tr(ng-repeat='track in playlist')
            td {{track.artist}}
            td {{track.name}}

    #tracks
      //- .track(ng-repeat='track in list | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage' ng-hide='track.addedToPlaylist')
      .track(ng-repeat='track in tracks' ng-hide='track.addedToPlaylist')
        img.artist-image(ng-src='{{track.artistImage}}')
        .track-info
          p Artist: {{track.artist}}
          p Song: {{track.name}}
          p Event Info:
          p Date: {{track.event.date | date:'medium'}}
          p Venue: {{track.event.venue}}
          a(ng-href='{{track.event.ticket}}') Get Tickets
          #links
            button(ng-click='track.songPreview.paused ? track.songPreview.play() : track.songPreview.pause()') Play
            button(ng-click='addToPlaylist(track)') Add
      //- button(ng-click="pagination.prevPage()") Previous
      //- button(ng-click="pagination.nextPage()") Next
  #success

script(src='vendor/angular/angular.min.js')
script(src='vendor/angular-audio/angular.audio.js')
script(src='vendor/underscore.min.js')
script(src='vendor/jquery-2.1.1.min.js')
//- script(src='vendor/pagination.js')  
//- script(src='js/index.js')
script(src='js/app.js')
